@()

@main("Download") {

  <H2 id=development><a name="download"></a>Download </H2>
  <p>
    Stable releases can be <a href="https://github.com/silk-framework/silk/releases">downloaded</a>.
    The framework can be used under the terms of the <a href="http://www.apache.org/licenses/LICENSE-2.0">
    Apache Software License</a>. </P>
  <P>The latest source code is available from the project's <A href="https://github.com/silk-framework/silk">
    Git repository</A> and can be browsed online.</P>


  <H2 id=history>Version History</H2>

  <p><table>
  <tbody>
    <tr id="darkgrey" style="border-bottom: 1px solid black;">
      <th>Version</th>
      <th>Comment</th>
      <th>Release Date</th>
    </tr>
    <tr>
      <td>2.6.1</td>
      <td>Various improvements and bugfixes.</td>
      <td>2015-06-04</td>
    </tr>
    <tr>
      <td>2.6.0</td>
      <td>New Version of the Workbench<br/>
        REST API<br/>
        Plugin System<br/>
        Silk Free Text Preprocessor
      </td>
      <td>2014-02-21</td>
    </tr>
    <tr class="grey">
      <td>2.5.3</td>
      <td>Various improvements and bugfixes.</td>
      <td>2012-03-06</td>
    </tr>
    <tr>
      <td>2.5.2</td>
      <td>Adding active learning of linkage rules.</td>
      <td>2011-11-17</td>
    </tr>
    <tr class="grey">
      <td>2.5.1</td>
      <td>Various improvements to the Workbench.</td>
      <td>2011-10-21</td>
    </tr>
    <tr >
      <td>2.5</td>
      <td>Added support for learning linkage rules.</td>
      <td>2011-10-03</td>
    </tr>
    <tr class="grey">
      <td>2.4.2</td>
      <td>SPARQL/Update output<br/>
        Dump file input<br/>
        Improved indexing<br/>
        Many improvements to the Silk Workbench<br/></td>
      <td>2011-07-22</td>
    </tr>
    <tr >
      <td>2.4.1</td>
      <td>Introduces per-comparison thresholds.<br/>
        New data transformations and distance measures including token-based distance measures.<br/>
        Improved Silk Workbench.<br/></td>
      <td>2011-07-01</td>
    </tr>
    <tr class="grey">
      <td>2.4</td>
      <td>Added the new Silk Workbench, a web application which guides the user through the process of interlinking different data sources.<br/></td>
      <td>2011-06-01</td>
    </tr>
    <tr>
      <td>2.3</td>
      <td>Improved loading perfomance: Multiple parallel SPARQL queries are executed, while their results are merged on the fly.<br/>
        Improved matching performance: New blocking method offers greatly improved performance.<br/>
        Improved overall performance: Matching tasks are now executed concurrently to loading data instead of waiting for the complete data set to be loaded.<br/>
      </td>
      <td>2011-01-31</td>
    </tr>
    <tr class="grey">
      <td>2.2</td>
      <td>Added Silk MapReduce
      </td>
      <td>2010-10-06</td>
    </tr>
    <tr>
      <td>2.1</td>
      <td>Added Silk Server<br/>
        Added a geographical distance metric by Konrad H&ouml;ffner (<a href="http://aksw.org/Groups/MOLE">MOLE</a> subgroup of Research Group AKSW, University of Leipzig)<br/>
        Bugfixes
      </td>
      <td>2010-09-15</td>
    </tr>
    <tr class="grey">
      <td>2.0</td>
      <td>Reimplementation of the Silk framework in Scala.<br/>
        Improved scalability and performance.<br/>
        Prematching replaced by a more transparent blocking.<br/>
        Configuration is checked for consistency prior to link generation. <br/>
        Support of the <a href="http://alignapi.gforge.inria.fr/format.html">OAEI Alignment format</a>.
        <br>
        (Anja and Robert)</td>
      <td>2010-07-01</td>
    </tr>
    <tr>
      <td>0.2</td>
      <td>Added prematching of data items (Julius).<br>
        The <a href="http://www4.wiwiss.fu-berlin.de/bizer/silk/spec/20090202/">Silk 0.2 language specification</a> is still available and <a href="http://code.google.com/p/silk/">Silk 0.2 framework</a> can be downloaded from GoogleCode.</td>
      <td>2009-03-02</td>
    </tr>
    <tr class="grey">
      <td>0.1</td>
      <td>Initial Release of the Python version of the Silk framework (Julius and Chris) </td>
      <td>2009-02-01</td>
    </tr>
  </tbody>
</table>
  </p>
}